<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>enemy_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>warship_bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{12,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,45}}</string>
                <key>sourceSize</key>
                <string>{12,45}</string>
            </dict>
            <key>warship_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{24,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,55}}</string>
                <key>sourceSize</key>
                <string>{24,55}</string>
            </dict>
            <key>warship_bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,67}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,67}}</string>
                <key>sourceSize</key>
                <string>{26,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet.png</string>
            <key>size</key>
            <string>{30,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d7890b2a03553ef98488f5824347fb$</string>
            <key>textureFileName</key>
            <string>bullet.png</string>
        </dict>
    </dict>
</plist>
