<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,14}}</string>
                <key>sourceSize</key>
                <string>{220,14}</string>
            </dict>
            <key>ui_bar_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,16}}</string>
                <key>sourceSize</key>
                <string>{220,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lifebar.png</string>
            <key>size</key>
            <string>{446,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fc887a4d2f039a15ed83eb21749ceca$</string>
            <key>textureFileName</key>
            <string>lifebar.png</string>
        </dict>
    </dict>
</plist>
